<form class="add-form" (ngSubmit)="onSubmit()" *ngIf="hasRoute('/')">
    <div class="form-control">
        <label for="title">Enter title</label>
        <input type="text" name="title" [(ngModel)]="title" id="title" placeholder="Title">
    </div>
    <div class="form-control">
        <label for="description">Enter description</label>
        <input type="text" name="description" [(ngModel)]="description" id="description" placeholder="Type some description ...">
    </div>  
    <div class="form-control">
        <label for="url">Enter a link</label>
        <input type="text" name="url" [(ngModel)]="url" id="url" placeholder="http://example.com">
    </div>
    <input type="submit" value="Add" class="btn btn-block" style="background-color: #FAA340"/>
</form>