<form class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control" *ngIf="hasRoute('/')">
        <label for="text">List Title</label>
        <input type="text" name="Title" [(ngModel)]="Title" id="Title" placeholder="">
    </div>
    <div class="form-control" style="margin-left: 5px;" *ngIf="hasRoute('/') ">
        <label for="text">Description</label>
        <input type="text" name="Description" [(ngModel)]="Description" id="Description" placeholder="">
    </div>
    <input type="submit" value="Publish" class="btn btn-block" *ngIf="hasRoute('/')" style="background-color: #20AE96; "/>
    <!-- a routerLink="/list-page"  -->
</form>
